{% extends "index.html" %}
{% block content %}
<div class="container mt-5">
    <h2>Our Classes</h2>
    <div class="list-group">
        {% for class in classes %}
        <a href="#" class="list-group-item list-group-item-action">
            <h5 class="mb-1">{{ class.class_name }}</h5>
            <p class="mb-1">{{ class.class_description }}</p>
            <small>Instructor: {{ class.instructor }}</small><br>
            <small>Days: {{ class.class_days }}</small><br>
            <small>Timings: {{ class.class_timings }}</small>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
