{% extends "layout.html" %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="flash-message">
      {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<div id="{{ 'index-welcome-message' if 'username' not in session }}" class="container text-center">
    <h1 class="welcome-heading">Welcome to Our Gym!</h1>
    <p class="sub-heading">This is the place where your transformation begins.</p>
    {% if 'username' in session %}
    <!-- Animated link to the user's profile -->
    <div class="fancy-my-profile-button">
    </div>
    <!-- View My Profile button -->
    <div class="view-profile-button">
      <a href="my_profile" class="profile-link">My Profile</a>
    </div>
    {% else %}
    <a href="{{ url_for('register') }}" class="btn btn-primary">Register</a>
    {% endif %}
</div>
{% endblock %}
