{% extends "layout.html" %}

{% block content %}
<div class="container profile-card">
    <h2>My Profile</h2>
    <p><span>Member ID:</span> {{ profile['MemberID'] }}</p>
    <p><span>Username:</span> {{ profile['Username'] }}</p>
    <p><span>Email Address:</span> {{ profile['EmailAddress'] }}</p>
    <p><span>Display Name:</span> {{ profile['DisplayName'] }}</p>
</div>

<!-- Buttons for My Schedule and Feedback -->
<div class="container mt-3 text-center"> <!-- Added text-center class to center align -->
    <a href="{{ url_for('my_schedule') }}" class="btn btn-primary mr-2 my-schedule-btn">My Schedule</a>
    <a href="{{ url_for('view_feedback') }}" class="btn btn-primary feedback-btn">My Feedbacks</a>
</div>
{% endblock %}
